@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
body {
  background: hsl(185, 41%, 84%);
}
input {
  text-align: right;
}
button {
  cursor: pointer;
}
input::placeholder {
  text-align: left;
  padding-left: 0;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 750px;
  height: 400px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 30px;
}
.first,
.second {
  width: 50%;
  height: 100%;
}
.first {
  margin-left: 10px;
  margin-top: 20px;
}
.first .bill {
  margin-bottom: 25px;
}
.first .bill input,
.people {
  width: 99%;
  height: 40px;
  background: hsl(189, 41%, 97%);
  border: none;
  padding-right: 10px;
  margin-top: 10px;
}
.first .btn {
  margin: 30px 0;
}
.first .btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 10px;
}
.first .btns button,
.btns input {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: hsl(183, 100%, 15%);
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: all 0, 2s;
}
.first .btns button:last-child {
  background: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}
.first .btns button:active {
  transform: translate(1px, 10%);
}
.first .btns button:focus {
  outline: none;
  background: hsl(172, 67%, 45%);
}
.second {
  background: hsl(183, 100%, 15%);
  border-radius: 5px;
  padding: 25px;
  color: #fff;
  align-items: center;
}
.second h1 {
  color: hsl(172, 67%, 45%);
  font-size: 40px;
}
.second .solution .div1,
.div2 {
  display: flex;
  justify-content: space-between;
}
.second .div1 {
  margin-bottom: 60px;
}
.second button {
  position: absolute;
  bottom: 50px;
  width: 300px;
  height: 40px;
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 400px) {
  .container {
    margin-top: 20%;
    border-radius: 20px;
    width: 450px;
    height: 700px;
    flex-direction: column;
    padding: 0;
  }
  .first,
  .second {
    width:100%;
  }
}
